<div class="p-lg-5 p-sm-3 p">
<button (click)="showUserForm=!showUserForm" class="btn btn-dark mb-4">Add Todo</button>
  <div class="card card-body mb-4" *ngIf="showUserForm">
    <form  (submit)="onSubmit()">
      <div class="form-group">
        <label>
          <h5>Title</h5>
        </label>
        <input   [(ngModel)]="thetodos.Title" type="text" class="form-control mb-3 " name="title">
        <label>
          <h5>Description</h5>
        </label>
        <textarea  [(ngModel)]="thetodos.Description" class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
      </div>
      <button [disabled]="thetodos.Description==''|| thetodos.Title==''" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Task Item</button>
    </form>
  </div>
  </div>